
::-webkit-scrollbar{
  width: 10px;

}

::-webkit-scrollbar-thumb{
  background: #A7BEAE;
  border-radius: 10px;
}

/* Cajita del login*/
.consuproye {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem;
  width: 400px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  max-height: 700px;
}



/* Botones*/

.consuproye .boton {
  outline: none;
  border: none;
  background: #A7BEAE;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
}

.consuproye .boton:hover,
.consuproye .boton:focus {
  background: #7C927C;
  cursor: pointer;
  outline: none;
}

.consuproye .consuback {
  outline: none;
  border: none;
  background: #A9A9A9;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: inline-block;

}


.consuproye .consuback:hover,
.consuproye .consuback:focus {
  background: #808080;
  cursor: pointer;
  outline: none;
}

.consuproye label {
margin-bottom: 0.5rem;
text-align: left;
}


.consuproye .logo {
  font-size: 1.2rem;
  color: #B85042;
}
.consuproye .logo2 {
  font-size: 0.8rem;
  color: #B85042;
}
