
  

/* Cajita del login*/
.proye {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: 530px;
    height: 360px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }
  
  /* Botones*/
  
  .proye .boton {
    outline: none;
    border: none;
    background: #A7BEAE;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .proye .boton:hover,
  .proye .boton:focus {
    background: #7C927C;
    cursor: pointer;
    outline: none;
  }
  
  .proye .back {
    outline: none;
    border: none;
    background: #A9A9A9;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .proye .back:hover,
  .proye .back:focus {
    background: #808080;
    cursor: pointer;
    outline: none;
  }