
  
/* Cajita del login*/
.info {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem;
  width: 400px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 700px;
  }
  

  /* Botones*/
  
  .info .boton {
    outline: none;
    border: none;
    background: #A7BEAE;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .info .boton:hover,
  .info .boton:focus {
    background: #7C927C;
    cursor: pointer;
    outline: none;
  }
  
  .info .back {
    outline: none;
    border: none;
    background: #A9A9A9;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  
  }
  
  .info .back:hover,
  .info .back:focus {
    background: #808080;
    cursor: pointer;
    outline: none;
  }


/* Cajita de los input*/
.info input {
  outline: none;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.info input:focus {
  border: 1.8px solid #A7BEAE;
}

.info label {
  margin-bottom: 0.5rem;
  text-align: left;
}

.info .segundoD {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-bottom: 1rem; 
}

.info .segundoD label {
  margin-top: 1rem;
  text-align: left; 
}
