
  
/* Cajita del login*/
.infoProye {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: 400px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15rem;
  }
  ::-webkit-scrollbar{
    width: 10px;

  }

  ::-webkit-scrollbar-thumb{
    background: #A7BEAE;
    border-radius: 10px;
  }

  .infoProye2 {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: 400px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    max-height: 700px;
    overflow-y: scroll;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
    position: fixed;
  }

  /* Botones*/
  .infoProye .boton {
    outline: none;
    border: none;
    background: #A7BEAE;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .infoProye .boton:hover,
  .infoProye .boton:focus {
    background: #7C927C;
    cursor: pointer;
    outline: none;
  }
  
  .infoProye .back {
    outline: none;
    border: none;
    background: #A9A9A9;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .infoProye .back:hover,
  .infoProye .back:focus {
    background: #808080;
    cursor: pointer;
    outline: none;
  }


  .infoProye label {
    text-align: left;
  }

  .infoProye input {
    outline: none;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: -0.1rem;
  }
  
  .infoProye input:focus {
    border: 1.8px solid #A7BEAE;
  }
  

  .infoProye2 .boton {
    outline: none;
    border: none;
    background: #A7BEAE;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  }
  
  .infoProye2 .boton:hover,
  .infoProye2 .boton:focus {
    background: #7C927C;
    cursor: pointer;
    outline: none;
  }
  
  .infoProye2 .back {
    outline: none;
    border: none;
    background: #A9A9A9;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .infoProye2 .back:hover,
  .infoProye2 .back:focus {
    background: #808080;
    cursor: pointer;
    outline: none;
  }


  .infoProye2 label {
    text-align: left;
    width: 100%;
    display: inline-block; 
    margin-bottom: 0.5rem;
  }

  .infoProye2 input {
    outline: none;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .infoProye2 input:focus {
    border: 1.8px solid #A7BEAE;
  }
  
  .infoProye2 .select {
    outline: none;
    padding: 0.8rem 1rem;
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
    text-align: left;
  }