
  
  
/* Cajita del login*/
.navi {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: 400px;
    height: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .eva2 {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: 400px;
    height: 360px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Botones*/
  
  .navi .boton {
    outline: none;
    border: none;
    background: #A7BEAE;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .navi .boton:hover,
  .navi .boton:focus {
    background: #7C927C;
    cursor: pointer;
    outline: none;
  }
  
  .navi .back {
    outline: none;
    border: none;
    background: #B85042;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .navi .back:hover,
  .navi .back:focus {
    background: #9A473C;
    cursor: pointer;
    outline: none;
  }


  .eva2 .boton {
    outline: none;
    border: none;
    background: #A7BEAE;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .eva2 .boton:hover,
  .eva2 .boton:focus {
    background: #7C927C;
    cursor: pointer;
    outline: none;
  }
  
  .eva2 .back {
    outline: none;
    border: none;
    background: #A9A9A9;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .eva2 .back:hover,
  .eva2 .back:focus {
    background: #808080;
    cursor: pointer;
    outline: none;
  }