
  
/* Cajita del login*/
.mcola {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem;
  width: 400px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
  }

  .mcola2 {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    max-width: 250px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-left: 3rem;
    margin-right: auto;
    max-height: 350px;
    text-align: center;
    }
  

    .mcola3 {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 2rem;
      max-width: 500px;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
      margin-left: 3rem;
      margin-right: auto;
      max-height: 700px;
      }
  /* Botones*/
  
  .mcola .boton {
    outline: none;
    border: none;
    background: #A7BEAE;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
  }

  .mcola2 label {
    text-align: center;
    width: 100%;
    display: inline-block; 
    margin-bottom: 0.5rem;
  }
  
  .mcola .boton:hover,
  .mcola .boton:focus {
    background: #7C927C;
    cursor: pointer;
    outline: none;
  }
  
  .mcola .back {
    outline: none;
    border: none;
    background: #A9A9A9;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .mcola .back:hover,
  .mcola .back:focus {
    background: #808080;
    cursor: pointer;
    outline: none;
  }


  .mcola label {
    text-align: left;
    width: 100%;
    display: inline-block; 
    margin-bottom: 0.5rem;
  }

  /* Cajita de los input*/
  .mcola input {
    outline: none;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    width: 100%;
    display: inline-block;
    margin-bottom: -0.51rem;
  }
  
  .mcola input:focus {
    border: 1.8px solid #A7BEAE;
  }
  

  .mcola3 .boton {
    outline: none;
    border: none;
    background: #A7BEAE;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
  }

  .mcola3 .boton:hover,
  .mcola3 .boton:focus {
    background: #7C927C;
    cursor: pointer;
    outline: none;
  }
  
  .mcola3 .back {
    outline: none;
    border: none;
    background: #A9A9A9;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .mcola3 .back:hover,
  .mcola3 .back:focus {
    background: #808080;
    cursor: pointer;
    outline: none;
  }


  .mcola3 label {
    text-align: left;
    width: 100%;
    display: inline-block; 
    margin-bottom: 0.5rem;
  }

  /* Cajita de los input*/
  .mcola3 input {
    outline: none;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    width: 100%;
    display: inline-block;
    margin-bottom: -0.51rem;
  }
  
  .mcola3 input:focus {
    border: 1.8px solid #A7BEAE;
  }